spring.application.name=MarketMaven-Ecommerce 
#This is the name of the application
server.port=2424
#This is the port on which the application will run
spring.datasource.url=jdbc:mysql://localhost:3306/ecommerce
#Specifies the JDBC URL for connecting to the MySQL database named ecommerce on localhost.
spring.datasource.username=root
#Specifies the username for connecting to the MySQL database.sets the database name to root,
spring.datasource.password=12345678
#sets the database password to 12345678.
spring.jpa.hibernate.ddl-auto=update
#whenevr we have update in our entity we want database to be updated to the new changes so ddl-auto is update.
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
#Specifies the MySQL JDBC driver class.
secreteJwtString=MarketMaven123456789MarketMaven123456789
#This is a secret key used for signing JWT tokens, ensuring their integrity and authenticity.
aws.s3.access=AKIAWNHTHERHW5I64A2M
#This is the AWS access key ID used to authenticate requests to AWS services.
aws.s3.secrete=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
#This is the AWS secret access key used to sign requests to AWS services.
aws.s3.bucket-name=market-maven
#This is the name of the S3 bucket where files will be stored.